<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rubrica</title>
</head>
<body>
 <!--<input type="text" [(ngModel)]="aggiungiNome" placeholder="nome">
 <input type="text" [(ngModel)]="aggiungiCognome" placeholder="cognome">
 <input type="text" [(ngModel)]="aggiungiTelefono" placeholder="telefono">
 <button (click)="aggiungi(aggiungiNome,aggiungiCognome,aggiungiTelefono)">AGGIUNGI</button>
 <button (click)="modifica()">MODIFICA</button>
 <button (click)="elimina()">ELIMINA</button>-->

<h1>ciao</h1>
</body>
</html>