<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>


<h1>RUBRICA</h1>
<br><br><br>
<input type="text" placeholder="Nome" [(ngModel)] = "nome">
<input type="text" placeholder="Cognome" [(ngModel)] = "cognome">
<input type="text" placeholder="Telefono" [(ngModel)] = "telefono">
<button (click)="cerca()">CERCA</button>
<button (click)="aggiungi()">Aggiungi</button>
<br><br><br>
<div *ngIf="tabella">
    <tr>
      <td>ID</td>
      <td>NOME</td>
      <td>COGNOME</td>
      <td>TELEFONO</td>
    </tr>
    <tr *ngFor = "let l of listaContatti; index as i">
      <td>{{l.id}}</td>
      <td>{{l.nome}}</td>
      <td>{{l.cognome}}</td>
      <td>{{l.telefono}}</td>
      <td><button (click)="modifica(listaContatti[i])">MODIFICA</button></td>
      <td><button (click)="cancella(listaContatti[i])">CANCELLA</button></td>
    </tr>
</div>
<div *ngIf="tabellaMod">
  <input type="text" id = "idMod" value="idPreMod" readonly="readonly" disabled="disabled">
  <input type="text" [(ngModel)] = "nomeMod" value="nomPreMod">
  <input type="text" [(ngModel)] = "cognomeMod" value="cogPreMod">
  <input type="text" [(ngModel)] = "telefonoMod" value="telPreMod">

    <td><button (click)="modificaContatto(nomPreMod,cogPreMod,telPreMod)">CONFERNA</button></td>
    <td><button (click)="annulla()">ANNULLA</button></td>

</div>

</body>
</html>
